@media only screen and (max-width: 800px) {
    .instrumentos-grid-content {
        width: 100%;
        display: grid;
        grid-template-columns: 80vw !important;
        background-color: #07163c;
        align-items: center;
        justify-content: center;
    }
    .item-instrumento img {
        width: 100%;
        max-height: 300px !important;
        margin-bottom: 10px;
    }
    .item-instrumento {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        position: relative;
        border-right: 0px !important;
        text-align: center;
    }
    .definition-text
    {
        width: 80vw !important;
    }
}

/*========================Carrossel============================*/
/*========================Carrossel============================*/

#carouseBateria .carousel-inner,
#mainSlider .carousel-item.active {
    max-height: 50vw;
}

.carousel-item {
    max-height: 50vw;
    height: 100% !important;
}

.carousel-item img {
    filter: brightness(0.3);

}

#carouseBateria .carousel-caption h2 {
    font-size: 8vw;
    font-family: Better Yesterday;
}

#carouseBateria .carousel-caption p {
    font-size: 2vw;
    font-weight: 300;
    color: white;
}

.container-fluid {
    padding: 0 !important;
}

/*=======================CONTENT=============================*/
/*=======================CONTENT=============================*/
.content-definition {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.definition-conteudo {
    padding: 40px;
    padding-top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img-definition {
    width: 10vw;
    min-width: 200px;
}

.img-definition img {
    width: 100%;
}

.title {
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    color: #07163c;
}

.title::after {
    content: "";
    top: 68px;
    width: 120px;
    left: calc(50% - 61px);
    height: 7px;
    color: #07163c;
    position: absolute;
    background-color: #07163c;
    z-index: 20;
}

.definition-text {
    padding: 20px;
    width: 70vw;
}

.definition-text p,
.definition-text b {
    color: #07163c;
    text-align: justify;
}

/*=======================INSTRUMENTOS=============================*/
/*=======================INSTRUMENTOS=============================*/
.instrumentos-title {
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    color: white !important;
}

.instrumentos-title::after {
    content: "";
    top: 68px;
    width: 120px;
    left: calc(50% - 61px);
    height: 7px;
    color: white !important;
    position: absolute;
    background-color: #fdc203 !important;
    z-index: 20;
}
.instrumentos-title p{
    margin-top: 30px;
}
.box-instrumentos {
    background-color: #07163c;
}

.instrumentos-grid-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #07163c;
    padding: 20px;
}

.item-instrumento {
    padding: 20px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
    border-right: 1px dashed #030b1d;
    text-align: center;
    margin-bottom: 10px;
    cursor: grab;
}

.item-instrumento:nth-child(8),
.item-instrumento:nth-child(4) {
    padding: 20px;
    display: flex;
    padding-top: 0;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
    border-right: 0 !important;
    cursor: grab;
}

.item-instrumento img {
    width: 100%;
    max-height: 180px;
    margin-bottom: 10px;
    
}

.item-instrumento h1 {
    font-size: 1.2rem;
    font-family: Bebas Neue;
    width: 100%;
    padding: 10px;
    background-color: #030b1d;
}

.item-instrumento p {
    color: white;
    text-align: center;
    font-size: 0.8rem;
}
.box-superior-ritmista
{    
    position: absolute;
    width: calc(100% - 40px);
    height: 0%;    
    background-color: #00050eec;
    transition: 0.25s;
    cursor: grab;    
    border-left: 3px solid #fdc203;
    overflow-y: scroll;
    
}
/* width */
.box-superior-ritmista::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.box-superior-ritmista::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
  }
  
  /* Handle */
.box-superior-ritmista::-webkit-scrollbar-thumb {
    background: #fdc203;
    border-radius: 10px;
  }

.item-ritmista-content
{
    display: flex;
    flex-direction: column;
    flex-flow: column;  
    flex-wrap: wrap;
    
}
.title-ritmista-superior
{
    position: relative;
}
.item-instrumento>h1
{
    position: relative;
}
.item-instrumento>h1::after{
    content: "";
    position: absolute;
    background-image: url("icons/sort_down_48px.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;   
    left: 10px;
    transition: 0s !important;
}
.aberto + h1::after
{
    background-image: url("icons/sort_up_48px.png");
   
}
.title-ritmista-superior h1
{
    background-color: inherit  !important;
}
.ritmista-item
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;    
    margin-bottom: 20px;   
}
.ritmista-item img
{
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;    
    margin: 0;
    margin-right: 10px;
    padding: 0;
}
.ritmista-text
{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.ritmista-igg{
    font-size: 1rem !important;
    color: #fdc203 !important;
    margin: 0;
}
.ritmista-name
{
    margin: 0;
    font-size: 1rem !important;
}

/*=======================ENSAIOS=============================*/
/*=======================ENSAIOS=============================*/
.box-cronograma
{
    width: 100%;  
    position: relative;  
    min-height: 500px;
}
.box-cronograma::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("images/bateria/pintadinho.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;    
    z-index: -1;
}
.box-cronograma::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #020818da;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;    
    z-index: -1;
}
.cronograma-title {
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    color: aliceblue !important;
}

.cronograma-title::after {
    content: "";
    top: 68px;
    width: 120px;
    left: calc(50% - 61px);
    height: 7px;
    color: aliceblue !important;
    position: absolute;
    background-color: #fdc203 !important;
    z-index: 20;
}
.cronograma-div-content
{
    padding: 30px;    
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;  
    height: 50%;  
}
.cronograma-div-content-box
{
    width: 80%;
    background-color: #02060fbd;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.cronograma-div-content-box p 
{
    color: white;
    margin: 0;
    font-size: 1.5rem;
}