/*=======================CONTENT=============================*/
/*=======================CONTENT=============================*/
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    position: relative;
    overflow: hidden;
    justify-items: center;
    align-items: center;
}
.background-content
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    
    filter:brightness(0.3);
}
.content-title {
    padding: 20px;
    padding-bottom: 0;
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.content-title p {
    color: aliceblue;
    font-size: 2rem;
}

.content-title::after {
    content: "";
    top: 68px;
    width: 120px;
    left: calc(50% - 61px);
    height: 7px;
    color: #07163c;
    position: absolute;
    background-color: #fdc203;
    z-index: 20;
}
.content-conteudo
{       
    padding: 40px;
    display: flex;
    flex-direction: row; 
    border-right: 4px solid #fdc203;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 2px 2px 6px #252525;
    justify-content: center;
    flex-wrap: wrap;
}
.content-conteudo p{
    color: #07163c;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}
.content-items
{
    margin-right: 40px;
}
.content-item
{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: grab;
} 
.content-item img{
    max-width: 50px;
    margin-right: 20px;
}
.content-forms
{
    width: 100%;
    padding: 30px;
    background-color: #07163c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-forms form
{
    display: flex;
    flex-direction: column;
}
.content-forms p{
    color: white;
}
.input-text
{
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    color: #07163c;
    outline: none;
}
.input-btn
{
    padding: 10px;
    margin-top: 10px;
    background-color: #fdc203;
    border: none;
    font-size: 1.2rem;
    color:#07163c;
    cursor: grab;
    outline: none;
}
.input-btn:hover{
    background-color: #fdc91e;
}
/*=======================CONTENT=============================*/
/*=======================CONTENT=============================*/
