@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Better Yesterday;
    src: url("fonts/Better\ Yesterday.otf");
}

@font-face {
    font-family: LilJohnny;
    src: url("fonts/LilJohnny_PERSONAL_USE_ONLY.otf");
}

@media only screen and (max-width: 800px) {
    main {
        z-index: 0;
        position: relative;
    }
    .label-menu-buttom {
        display: initial;
    }

    .label-menu-buttom img {
        width: 100%;
    }

    .nav-box-titulo {
        padding: 20px;
    }

    .nav-box-menu {
        position: absolute;
        top: 83px;
        left: 0;
        right: 0;
        z-index: 1;
        visibility: hidden;
    }

    .box-menu-buttom {
        background-color: rgba(2, 8, 24, 0.8);
        ;
        padding: 20px;
        display: flex !important;
        justify-content: flex-start;
        width: 100%;
    }

    .box-menu-buttom label {
        max-width: 35px;
    }

    .box-menu-buttom input {
        display: none !important;
    }

    .menu-list li {
        padding-right: 0;
    }
    .menu-list a
    {
        width: 100%;
    }
    .nav-box-menu ul li {
        width: 100%;
    }

    .nav-box-menu ul li ul {
        position: relative;
        width: 80%;
        left: 0;
        margin-left: 20px;
    }

    .swiper-navBtn {
        display: none !important;
    }

    .slide-content {
        margin: 0 10px;
    }

    .swiper-wrapper {
        justify-content: normal !important;
    }

    .foot-content {
        grid-template-columns: 100% !important;
        grid-template-rows: auto;
    }

    .foot-icon {
        grid-row: 1;
        margin-bottom: 30px;
    }
}

/*=========================================================*/
/*=========================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    list-style-type: none;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none !important;
}

nav::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-image: url(images/FundoNav.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(30%);
    width: 100%;
    height: 100%;
}

nav {
    z-index: 1;
    position: relative;
    width: 100%;
    min-height: 125px;
    /*background-color: #07163C;*/
    display: flex;
    flex-direction: column;
    box-shadow: 0px 7px 0px 2px #041133be, 0px 7px 0px 12px #030c22;
    align-items: center;
    justify-content: space-around;
}

.nav-box-titulo {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navIconeAtletica {
    margin-right: 30px;
    max-width: 100px;
}

.navTitulos {
    display: flex;
    flex-direction: column;
}

.navTitulos p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.navTitulos p:nth-child(2) {
    font-size: 1.1rem;
}

.nav-box-menu {
    background-color: #020818e6;

    justify-items: center;
    width: 100%;
}

#menu-buttom:checked~.nav-box-menu {
    visibility: visible;
}

.nav-box-menuDispositivos {
    display: none;
}

.menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 0px !important;
}

.menu-list li {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.li-diretorias {
    position: relative;
}

.li-diretorias:hover>ul {
    display: initial;
}

.menu-list-diretorias {
    position: absolute;
    left: 0;
    z-index: 10;
    top: 0;
    left: 142px;
    background-color: #07163c;
    display: none;
}

.menu-list li:hover {
    background-color: #0a1f53;
    cursor: grab;
}

.box-menu-buttom {
    display: none;
}

.label-menu-buttom {
    font-size: 20px;
    color: #1111 !important;
    cursor: grab;
}

.atual {
    background-color: #07163c;
}

.navIcons {
    margin-right: 10px;
    width: 2.6rem;
    border-radius: 50%;
}

/*==========================box-integrantes==========================*/
.swiper-wrapper {
    justify-content: center;
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 20px 0 !important;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
    padding: 20px 0;
}

.box-integrantes {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("backgrounds/Background-tipe-yellow.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*background-color: #fdc203;*/
}
.box-integrantes::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0005106b;
    top: 0;
}
.box-integrantes-title {
    padding: 20px;
    padding-bottom: 0;
    position: relative;
    width: 100%;
    text-align: center;
}

.box-integrantes-title p {
    color: aliceblue;
    font-size: 2rem;
}

.box-integrantes-title::after {
    content: "";
    top: 68px;
    width: 120px;
    left: calc(50% - 61px);
    height: 7px;
    color: #07163c;
    position: absolute;
    background-color: #fdc203;
    z-index: 20;
}

.box-integrantes-item {
    box-shadow: 1px 2px 6px 0px #b98f08;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    height: 100%;
    overflow: hidden;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border: 10px solid white;
    box-shadow: 4px 5px 6px 2px #00000094;;
    position: relative;
    max-width: 350px;
}

.integrante-icons {
    position: absolute;
    right: 20px;
    top: 30px;
    max-width: 40px;
    display: flex;
    flex-direction: column;
}
.integrante-icons a:hover{
    transform: scale(1.1);
}
.integrante-icons img{
    width: 100%;
}

.box-integrantes-item a {
    width: 100%;
}

.integrante-img {
    width: 100% !important;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    position: relative;
    text-align: center;    
    padding: 50px;
}
.integrante-before
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    filter: blur(1px) brightness(0.2);
    background-repeat: no-repeat;
    z-index: -1;
}
.integrante-img img {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    max-width: 300px;
    max-height: 300px;
}

.integrante-img h2 {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    background-color: black;
}

.integrante-informations {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.integrante-informations p {
    font-size: 1.5rem;
    color: #07163c;
    font-weight: bold;
    margin-bottom: 0;
    font-family: 'Bebas Neue', cursive;
}
.integrante-informations p:nth-of-type(1) {
    font-size: 1.8rem;
    
    margin-bottom: 0px;
    line-height: 1.8rem;
}
.integrante-informations p:nth-of-type(2) {
    color: #db7900;
}
.swiper-pagination-bullet
{
    background: #fff !important;
}

/*====================================================*/
.box-frase-diretoria
{
    background-color: #07163c;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    text-align: center;
}
.frase-content
{
    padding: 20px;
    background-color: aliceblue;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    /* border: solid 3px #040b58; */
    box-shadow: 1px 4px 9px 3px #000b24;
    position: relative;
}
.frase-content::after {
    content: "";
    width: 80px;
    height: 100%;
    background-color: #fdc203;
    box-shadow: 2px 0px 3px 0px #d3a30a;
    position: absolute;
    left: 50px;
    top: 0;
}
.box-frase-diretoria p{
    font-size: 1.8rem;
    color: #07163c;
    padding-left: 70px;
    margin-bottom: 0;
}


/*====================================================*/
.foot-content {
    background-color: #07163c;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    align-items: center;
    padding: 40px;
    justify-items: center;
}

.foot-coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-coluna p {
    color: #afafaf;
    cursor: grab;
}

.foot-coluna p:hover {
    color: #ebebeb;
    font-weight: bold;

}

.foot-icon {
    max-width: 100px;
    text-align: center;
    color: #07163c;
    font-size: 0.8rem;
}

.foot-icon p {
    color: #afafaf;
    font-size: 0.8rem;
}

.foot-icon img {
    width: 100%;
    margin-bottom: 10px;
}