@media only screen and (max-width: 800px) {    
    .box-associacao-box {
        grid-template-areas: "as-colun-left" "as-colun-central" "as-colun-right" !important;
        grid-template-columns: 100% !important;
    }
    .box-instagram
    {
        background-color: aliceblue;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 30px;
        position: relative;
    }
    .box-instagram .active
    {
        display: flex !important;
        justify-content: center;
    }
    .box-instagram .carousel-item
    {
        max-height: none !important;        
        
    }
    .box-instagram::before {
        content: "";
        width: 100%;
        position: absolute;
        z-index: 0;
        height: 50%;
        background-color: #07163c;
        top: 0;
    }
    .box-instagram-content
    {
        margin-bottom: 40px;
        box-shadow: 0px 0px 9px 0px #07163c;
        justify-content: center;        
        display: flex;        
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
    }
    .box-instagram-content::before{
        content: "";
        width: 50%;
        z-index: 1;
        text-align: center;
        color: #07163c;
        font-weight: bold;
        font-family: 1;
        padding-top: 3px;
        top: 0;        
        height: 20px;
        background-color: #fdc203;
        position: absolute;
    }
    .box-instagram-img
    {         
        width: 100% !important;
        display: flex;        
        align-items: center;
        position: relative;
    }
    .box-instagram-img img
    {
        box-sizing: content-box;
        width: 100%;
    }
    .box-instagram-caption
    {
        min-height: 40vw;        
        width: 100% !important;
    }
    .box-instagram .container-fluid{
        display: flex;
        justify-content: center;
    }
    .box-instagram #carouselInstagram{
        width: 80%;
    }    
}
/*=====================CONTENT===============================*/
/*=====================CONTENT===============================*/

.container-fluid
{
    padding: 0;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#carouselExampleIndicators .carousel-inner, #mainSlider .carousel-item.active
{
    max-height: 50vw;
}
.carousel-item
{
    max-height: 50vw;
    height: 100% !important;
}
.carousel-item img
{
    filter: brightness(0.3);
    transform: translateY(-20%)
}
#carouselExampleIndicators .carousel-caption h2{
    font-size: 8vw;
    font-family: Better Yesterday;
}
#carouselExampleIndicators .carousel-caption p{
    font-size: 2vw;
    font-weight: 300;
    color: white;    
}
.box-associacao
{
    background-color: #fdc203;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;       
}
.box-associacao-content
{
    grid-gap: 10px;
    display: grid;    
    grid-template-columns: 100%;
    padding: 20px;
    padding-right: 0px;
    padding-left: 0px; 
    justify-items: center;
}
.box-associacao-box
{
    width: 80%;
    grid-gap: 10px;
    display: grid;
    grid-template-areas: "as-colun-left as-colun-central as-colun-right";
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    
}
.associacaoColunas{
    text-align: center;
    padding: 20px;
    border-right: 4px solid #fdc203;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 2px 2px 6px #9b7600;;
    width: 100%;
    height: 100%;
    padding-bottom: 70px
}
.associacao-colunm1
{
    grid-area: as-colun-left;
}
.associacao-colunm2
{
    grid-area: as-colun-central;
}
.associacao-colunm3
{
    grid-area: as-colun-right;
}
.associacao-title 
{
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.associacao-title::after{
    content: "";
    top: 68px;
    width: 120px;     
    left: calc(50% - 61px);    
    height: 7px;
    color: #07163c;
    position: absolute;
    background-color: #07163c;
    z-index: 20;
}
.associacao-text-content
{
    margin-bottom: 30px;    margin-bottom: 30px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.associacao-ul
{
    position: relative;
    text-align: initial;
    font-size: 1.2rem;
    color: #111111 !important;
}
.associacao-ul li{
    padding-left: 17px;
}


.associacaoColunas h2
{
    color: #111111;
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}
.associacao-text-content p, .associacao-ul li{
    margin-bottom: 5px !important;
}
.box-associacao p, .box-associacao li, .box-associacao h2, .associacao-ul b{
    color: #111111;
}
.associacao-text-content-lote
{
    font-size: 1.2rem;
}
.price-1, .price-2
{
    background-color: #fdc203;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    font-size: 2rem;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}
.price-1 p:nth-child(1), .price-2 p:nth-child(1)
{
    font-size: 1.2rem;
    color: #07163c;
}
.associacaoColunas input{
    width: 60%;
    height: 50px;
    border: 2px solid #07163c;
    color: #07163c;
    background-color: aliceblue;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.25s;
    cursor: grab;
}
.associacaoColunas input:hover, .associacaoColunas input:focus{
    background-color: #07163c;    
    color: white;
}
.box-instagram
{
    overflow: hidden;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #07163c;
}
.box-instagram .carrossel
{
    width: 80% !important;
}
.box-instagram-content
{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.box-instagram-img
{
    
    width: 30%;
    display: flex;
    background-color: #07163c;
    align-items: center;
    position: relative;
}
.box-instagram-img::after
{   
    content: "@atleticamedufms";
    
    width: 100%;
    text-align: center;
    color: #7a7a7a;
    padding: 12px;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    height: 50px;
    background-color: #01061496;
}
.box-instagram-img img
{
    width: 100%;    
    box-sizing: content-box;
    filter: none !important;
    transform: none !important;
}
#carouselInstagram
{
    position: relative;
}
.box-instagram .carousel-inner
{
    width: 90vw !important;
}
.box-instagram-caption
{
    
    padding: 50px;
    color: #111111 !important;
    padding: 20px;
    display: flex;
    width: 70%;    
    background-color: aliceblue;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;    
    font-family: 'Roboto Condensed', sans-serif;
}
.instagram-text
{
    font-family: 'Roboto Condensed', sans-serif;
    color: #111111  !important;
}
.box-instagram-caption b{
    font-family: 'Roboto Condensed', sans-serif;
    color: #111111  !important;
    height: 30vw;
}
#carouselInstagram
{
    display: flex;
    position: relative;
    flex-direction: row;
}
.box-instagram .carousel-control-prev, .box-instagram .carousel-control-next
{
    background-color: #07163c;
    opacity: 1 !important;    
    box-sizing: content-box;
    position: sticky !important;
    min-height: 150px;
}
/*=====================CONTENT===============================*/
