@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    color: white;
    list-style-type: none;
    font-family: 'Roboto Condensed', sans-serif;;
}
nav
{
    width: 100%;
    min-height: 125px;
    background-color: #07163C;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    justify-content: space-around;                     
}
.nav-box-titulo
{   
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navIconeAtletica
{
    margin-right: 30px;
    max-width: 100px;
}
.navTitulos
{
    display: flex;
    flex-direction: column;
}
.navTitulos p:nth-child(1)
{
    font-size: 1.2rem;
}
.navTitulos p:nth-child(2)
{
    font-size: 0.8rem;
}
.nav-box-menu
{    
    background-color: #020818be;
    display: flex;
    justify-items: center;
    width: 100%;
}
.nav-box-menuDispositivos
{
    display: none;
}
.menu-list
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
}
.menu-list li{
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}
.menu-list li:hover{
    background-color: #041133be;
    cursor: grab;
}
.navIcons
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}