*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    color: white;
    list-style-type: none;
}
nav
{
    width: 100%;
    min-height: 125px;
    background-color: #07163C;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    justify-content: space-around;                     
}
.nav-box-titulo
{   
    display: flex;
    flex-direction: row;
}
.navIconeAtletica
{
    max-width: 100px;
}
.navTitulos
{
    display: flex;
    flex-direction: column;
}
.navTitulos p:nth-child(1)
{
    font-size: 1.2rem;
}
.navTitulos p:nth-child(2)
{
    font-size: 0.8rem;
}
.nav-box-menu
{    
    background-color: #020818be;
    display: flex;
    justify-items: center;
    width: 100%;
}
.nav-box-menuDispositivos
{
    display: none;
}
.menu-list
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
}
.navIcons
{
    width: 20px;
    height: 20px;
}